{% extends 'base.html.twig' %}

{% block title %}Vidéos Youtube Favorites !{% endblock %}

{% block body %}

<div>

{{ form_start(form) }}
    {{ form_row(form.url) }}
    {{ form_row(form.name) }}
    {{ form_row(form.envoyer, {'attr': {'class': 'mt-3 btn-primary'}}) }}
{{ form_end(form) }}
</div>

<div class="my-2"  >
{% for video in videos %}
    <p style="border-bottom: 1px solid #ced4da" class="p-1"> {{ video.url }} - {{ video.name }} </p>
{% endfor %}

</div>
{% endblock %}
